body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: -50px;
}

p {
    color: #fff;
    font-family: monospace;
    font-size: xx-large;
}

h3 {
    color: #bbbbbb;
    font-family: monospace;
    opacity: 50%;
    margin-top: -50px;
}

.container {
    background: radial-gradient(circle, #474747, #2b2b2b);
    padding: 30px;
    border-radius: 10px;
    max-width: 1200px;
    width: 70%;
    text-align: center;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.6);
}

.code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: radial-gradient(circle, #474747, #2b2b2b);
    padding: 30px;
    border-radius: 10px;
    max-width: 1400px;
    width: 80%;
    text-align: left;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.6);
    margin: 50px auto;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background: #525252;
    padding: 30px;
    border-radius: 10px;
    max-width: 1300px;
    max-height: 1200px;
    width: 90%;
    text-align: left;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.6);
    margin: 50px auto;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

select, button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button {
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}
